@model Servicios.Model.Proveedor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateProveedor", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <br />
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Nombre del Proveedor</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NombreProveedor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NombreProveedor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Folio</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Folio, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Folio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>RFC</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-12">
                            <strong>Producto</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownList("ProductoID", null, htmlAttributes: new { @class = "form-control", @style = "width:176px;" })
                            @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <br /><br />
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Volver", "Index")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


