<div class="header-top">
    <div class="container">
        <div class="phone">
            <h3><span>Teléfono</span> : +52 1 999 997 0104</h3>
        </div>
        <div class="logo">
            <a href="#"><img src="~/Sitio/logo.png" class="img-responsive" alt=""></a>
        </div>
        <div class="location">
            <h3><span>localización</span> : 37 345 Calle 60, Centro, 97000 Mérida, Yuc.</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="head-nav">
            <span class="menu"> </span>
            <ul>
                <li class="active"><a href="@Url.Action("Index", "Sitio")">INICIO</a></li>
                <li><a href="@Url.Action("Nosotros", "Sitio")">¿QUIENES SOMOS?</a></li>
                <li><a href="@Url.Action("Mision", "Sitio")">MISION</a></li>
                <li><a href="@Url.Action("Vision", "Sitio")">VISION</a></li>
                <li><a @*href="@Url.Action("Productos", "Sitio")"*@>PRODUCTOS</a></li>
                <li><a href="@Url.Action("Contacto", "Sitio")">CONTACTANOS</a></li>
                <li><a href="@Url.Action("Index", "Login")">LOGIN</a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!-- script-for-nav -->
        <script>
            $("span.menu").click(function () {
                $(".head-nav ul").slideToggle(300, function () {
                    // Animation complete.
                });
            });
        </script>
        <!-- script-for-nav -->
        <section class="slider">
            <div class="flexslider">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-2280px, 0px, 0px);">
                        <li class="clone" style="width: 1140px; float: left; display: block;">
                            <div class="banner-info">
                                <h1>Telas Méxicanas</h1>
                                <p>Nuestro compromiso es con calidad, por eso solamente utilizamos los mejores insumos para la fabricación de nuestros textiles.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li style="width: 1140px; float: left; display: block;" class="flex-active-slide">
                            <div class="banner-info">
                                <h1>Servicio</h1>
                                <p>Ofrecemos un servicio personalizado con amplia experiencia para lograr resolver cualquiera de sus necesidades.</p>
                            </div>
                        </li>
                        <li style="width: 1140px; float: left; display: block;" class="flex-active-slide">
                            <div class="banner-info">
                                <h1>Envío</h1>
                                <p>Enviamos nuestros productos a cualquier parte de la república.</p>
                            </div>
                        </li>
                        <li style="width: 1140px; float: left; display: block;" class="flex-active-slide">
                            <div class="banner-info">
                                <h1>Sucursal Mérida</h1>
                                <p>Calle 60, Centro, Mérida, Yuc., cp. 97000 Mérida, Yucatan. Tel: (999)942-6666 Correo: grupopromotoraresidencial@hotmail.com</p>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li style="width: 1140px; float: left; display: block;" class="flex-active-slide">
                            <div class="banner-info">
                                <h1>Sucursal CDMX</h1>
                                <p>Av. Miguel Hidalgo 11, Lote13-01 local 6 cp 77509 supermanzana 21 municipio Benito Juarez Ciudad de México, Mexico. Tel: (998)840-0189 Correo: grupopromotoraresidencial@hotmail.com</p>
                            </div>
                        </li>
                    </ul>
                </div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="https://p.w3layouts.com/demos/textile/web/#">Previous</a></li><li><a class="flex-next" href="https://p.w3layouts.com/demos/textile/web/#">Next</a></li></ul>
            </div>
        </section>
        <!-- FlexSlider -->
        <script defer="" src="~/Sitio/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(function () {
                SyntaxHighlighter.all();
            });
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!-- FlexSlider -->
    </div>
</div>
